/**
 * @file
 * RTL styling for Display Suite Two Column Double Bricks stylesheet.
 */

.two-column-double-bricks .ds-region-wrapper >.ds-region {
  width: 50%;
  float: right;
}

.two-column-double-bricks .ds-region-wrapper:after,
.two-column-double-bricks .ds-region.ds-single:after {
  content: '';
  display: block;
  clear: right;
}
