/**
 * @file
 * Display Suite Two Column Double Bricks stylesheet.
 */

.two-column-double-bricks .ds-region-wrapper >.ds-region {
  width: 50%;
  float: left;
}

.two-column-double-bricks .ds-region-wrapper:after,
.two-column-double-bricks .ds-region.ds-single:after {
  content: '';
  display: block;
  clear: left; /* LTR */
}
