/**
 * @file
 * RTL styling for Display Suite Three Column Bricks stylesheet.
 */

.three-column-double-bricks .ds-region-wrapper >.ds-region {
  width: 33.3%;
  float: right;
}

.three-column-double-bricks .ds-region-wrapper:after,
.three-column-double-bricks .ds-region.ds-single:after {
  content: '';
  display: block;
  clear: right;
}
