/**
 * @file
 * Display Suite Four Column Double Bricks stylesheet.
 */

.four-column-double-bricks .ds-region-wrapper >.ds-region {
  width: 25%;
  float: left;
}

.four-column-double-bricks .ds-region-wrapper:after,
.four-column-double-bricks .ds-region.ds-single:after {
  content: '';
  display: block;
  clear: left; /* LTR */
}
