/**
 * @file
 * RTL styling for Display Suite Four Column Double Bricks stylesheet.
 */

.four-column-double-bricks .ds-region-wrapper >.ds-region {
  width: 25%;
  float: right;
}

.four-column-double-bricks .ds-region-wrapper:after,
.four-column-double-bricks .ds-region.ds-single:after {
  content: '';
  display: block;
  clear: right;
}
